/* Universal */

.card:hover {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
}

/* Navigation CSS */

/* Hero CSS */

.hero {
    background-image: url(../images/matt-landscape.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero h1 {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* Projects Section CSS */

.sub-titles {
    border-bottom: 2px solid rgb(33, 37, 41);
    padding-bottom: 5px;
    width: 350px;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* Skills Section */

#skills .card:hover {
    scale: 1.03;
    transition: 0.2s;
}

/* About me / contact me CSS */

.links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

#about a:hover {
    text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.3);
    scale: 1.1;
}

#contact img:hover {
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    filter: brightness(120%);
}